# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

#puppeteer cache
.cache

#service account
sa.json

#environment variables
.env

lib
